# Copiar este archivo como ".env" en la raíz del proyecto (NO subir el .env real a GitHub)

SESSION_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria

USER1_NAME=marco
USER1_HASH=pega_aqui_el_hash_generado_con_generate-hash.js

USER2_NAME=operador1
USER2_HASH=pega_aqui_el_hash_generado_con_generate-hash.js

USER3_NAME=operador2
USER3_HASH=pega_aqui_el_hash_generado_con_generate-hash.js
